.bg-gradient-black {
    background-color: #131313;
    background-size: cover;
}

.card-body p:last-child {
    margin-bottom: -5px;
}

.credits-list a {
    color: white;
    text-decoration: underline;
}

.no-border-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.no-border-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.no-border-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.no-border-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.white-link a {
    color: white;
    text-decoration: underline;
}

.user-profile-image {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 5em;
    border: 1px solid white;
}

.user-profile-image img {
    object-position: -0.4em -1em;
}

.wd-bg-black {
    background-color: #202020 !important;
}

.wd-border-black {
    background-color: #323232;
}

@font-face {
    font-family: 'Volter';
    src: url('./Volter.woff2') format('woff2'), url('./Volter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.habbo-profile {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.habbo-profile-image {
    background-image: url('../images/platform.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 162px;
    height: 80px;
}

.habbo-profile-image img {
    position: relative;
    top: -36px;
    left: 19px;
    height: 110px;
    width: 64px;
}

.habbo-profile-name {
    background-image: url('../images/name_bar.png');
    font-family: 'Volter';
    font-size: 9px;
    color: white;
    height: 19px;
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habbo-profile-infos {
    display: flex;
    align-self: center;
    float: left;
    position: relative;
    top: 50px;
    left: 45px;
}

.habbo-profile-infos img {
    margin-left: 1.5em;
    height: auto;
    width: auto;
    background-size: contain;
}

.habbo-profile-badge {
    position: relative;
    top: -109px;
    left: -17px;
}

.habbo-profile-badge img {
    height: auto;
    width: auto;
}

.habbo-profile-container {
    display: flex;
    justify-content: center;
}

.wd-datetime {
    width: 100%;
    border-radius: 0.2em;
    border-color: white;
    line-height: 1.6em;
    padding-left: 0.5em;
}

.wd-room-infos {
    display: flex;
    justify-content: center;
}

.wd-room-infos div {
    font-family: 'Volter';
    font-size: 18px;
    align-self: center;
    margin-left: 1.5em;
}

.wd-table-danger td {
    background-color: #450000;
}

.wd-image-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.wd-image-picker div {
    background-color: #dbdbdb;
    padding: 1em;
    margin: 1em 0.5em;
    border-radius: 1em;
    cursor: pointer;
}

.wd-image-picker div.selected {
    background-color: #8a92ff;
}

.wd-image-picker div.selected img {
    opacity: 0.4;
}