.image_picker {
    width: 100%
}

.image_picker .responsive {
    position: relative;
    margin: 0 6px;
    float: left;
    opacity: 1
}

.image_picker .responsive .thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    opacity: 1;
    margin: 0
}

.image_picker .responsive .thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, .7)
}

.image_picker .responsive .selected {
    background-color: #008cba
}

.image_picker .responsive:hover {
    cursor: pointer
}

.image_picker .responsive .checked {
    display: none
}

.image_picker .selected {
    opacity: .7
}

.image_picker .selected .checked {
    display: inline-block;
    transition: .5s ease;
    position: absolute;
    bottom: 23px;
    right: 13px;
}

.image_picker .selected .checked .icon {
    background-size: cover;
    height: 30px;
    width: 30px;
}

.image_picker .clear {
    clear: both
}